canvas {
	border: 1px solid black;
}
#gameWrapper{
	margin-left: auto;
	margin-right:auto;
	width:825px;
}
#fullWrapper {
	width:825px;
}
#gameStage {
	width:675px;
	display:inline-block;
	background-color:#FFF7C2;
}
#numStage {
	width:150px;
	display:inline-block;
	background-color:#FFF7C2;
}
.goBack {
	text-decoration: none;
	top:5;
	left:5;
	position:absolute;
	color:#8F8F8F;
}
.goBack:link {
	color:#8F8F8F;
}
.goBack:visited {
	color:#8F8F8F;
}
.goBack:hover {
	color:#696969;
}
.goBack:active {
	color:#5E5E5E;
}
#helpButton {
	/*float:right;*/
}
#alerts {
	text-align:center;
	font-size:30;
}
#announceWrapper {
	text-align:center;
	font-size:30;
}
#controls {
	text-align:center;
}