body {
	background-color:#FFF3A3;
}
#fullWrapper {
	margin-left:auto;
	margin-right:auto;
	width:auto;
}
#footer {
	text-align:center;
	font-size:10px;
	color:#8F8F8F;
}
#footer a:visited {
	color:#8F8F8F;
}