body {
	background-color:rgb(226, 255, 254);
	font-family: Liberation;
}
#fullWrapper {
	margin-left:auto;
	margin-right:auto;
	/*width:auto;*/
	padding:30px;
	border-radius:20px;
	background-color:rgb(255, 153, 0);
}
#footer {
	text-align:center;
	font-size:10px;
	color:#8F8F8F;
}
#footer a:link {
	color:#8F8F8F;
}
#footer a:visited {
	color:#8F8F8F;
}
#footer a:hover {
	color:#696969;
}
#footer a:active {
	color:#5E5E5E;
}
@font-face {
	font-family: Bebas;
	src: url('/res/fonts/BebasNeue.otf');
}
@font-face {
	font-family: Liberation;
	src: url('/res/fonts/LiberationSerif.ttf');
}