body {
	background-color:#FFF3A3;
	font-family: Bebas;
}
#fullWrapper {
	margin-left:auto;
	margin-right:auto;
	width:auto;
}
#footer {
	text-align:center;
	font-size:10px;
	color:#8F8F8F;
}
#footer a:link {
	color:#8F8F8F;
}
#footer a:visited {
	color:#8F8F8F;
}
#footer a:hover {
	color:#696969;
}
#footer a:active {
	color:#5E5E5E;
}
@font-face {
	font-family: Bebas;
	src: url('/res/fonts/BebasNeue.otf');
}