#fullWrapper {
	min-width: 800px;
	max-width:800px;
	font-size:30px;
	/*font-family:'serif';*/
	word-break:loose;
}
#mainForm {
	margin-top:15px;
}
#buttonHolder {
	position:relative;
	height: 60px;
	padding-top:10px;
}
.playButton {
	right:25px;
}
.cancelButton {
	left:25px;
}

#shareLinkHolder {
	height:24px;
	width:586px;
	margin: 0 auto;
	text-align:center;
	padding-bottom:5px;
}
.shareLink {
	float:left;
	padding: 0px 10px;
}
.fblikeholder {
	width:135px;
	margin-top:-6px;
}
.redditholder {
	width:120px;
	padding-top:1px;
	margin-top:1px;
}
.tumblrholder {
	margin-top:-1px;
}
.pinterestholder {
	margin-top:-1px;
}
.twitterholder {
	
}

#albumHolder {
	width:750px;
	/*height:115px;*/
	display:inline-block;
	overflow-x: auto;
	overflow-y: hidden;
	white-space:nowrap;
	background-color:#FFF8C7;
	border-radius:10px;
	margin-top:10px;
}
#albumLink {
	text-align: center;
	font-size: 35px;
	padding-top:20px;
}
.shareButton {
	width:200px;
	height:60px;
	font-size:40px;
	border-radius:30px;
	position:absolute;
}
.imguralbumthumb {
	height:125px;
	vertical-align:middle;
}
.albumThumbHolder {
	display:inline-block;
	position:relative;
	margin:5px;
	border:0px;
	border-style: solid;
	border-color: blue;
}
.difficultyHolder {
	text-align:center;
}
.difficulty {
	font-size:20px;
}
.originHolder {
	border-radius:10px;
	background-color: #FFF29C;
	margin:5px;
	padding:20px;
}